<div class="event-box">
    <h1 class="section-header is-size-1 pb-2 mb-6">Public Events</h1>
    <section id="public-events" class="columns is-multiline ">

        {{#each events as |event|}}
        <div class="column is-one-third">
            <div class="card">
                <div id="content" class="card-content">
                    <p class="title is-size-4 is-size-3-desktop has-text-centered"> 
                        <span>{{event.eventName}}</span>
                    </p><hr>
                    <p id="info" class="subtitle columns p-event-info"> 
                        <span class="column is-one-half">{{event.eventLocation}}</span><br>
                        <span class="column is-one-half">{{format_time event.eventDate}}</span>
                    </p><hr>
                    <p> {{event.eventDescription}} </p>

                </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <span> <a class="eventViewBtn" id="eventViewBtn{{event.id}}" href="/event/{{event.id}}">View Event</a> </span>
                    </p>

                </footer>
            </div>
        </div>
        {{/each}}
    </section>
</div>

<script src="/js/browseEvents.js"></script>